<%- include('./partials/header.ejs')  %>



  <body>
    <%- include('./partials/navbar.ejs')  %>
    <div class="container">
        <br>
      <div class="card">
        <div class="card-header">
          <h3>Realizar pergunta:</h3>
        </div>
        <div class="card-body">
          <form action="">
            <label>Título</label>
            <input
              type="text"
              placeholder="Title"
              class="form-control"
              style="margin: 0 0 5px 0"
            />
            <label>Descrição</label>
            <textarea
              placeholder="Descreva a sua pergunta aqui"
              class="form-control"
              style="margin: 0 0 10px 0"
            ></textarea>
            <button class="btn btn-dark">Enviar</button>
          </form>
        </div>
      </div>


      
    </div>
  </body>
</html>
